parameters:
    connectors:
        noviko:
            username: '16203/SEBELA'
            password: 'vichr'
dbal:
	connectionTz: auto-offset
	simpleStorageTz: "Europe/Prague"
	driver: mysqli
	host: localhost
	database: hivetrader-data
	username: root
	password: ''