parameters:
    connectors:
        noviko:
            username: '16203/SEBELA'
            password: 'vichr'
    deployer:
        protocol: "ftp" # ftp|ftps
        user: "168953_operarius"
        password: "adockadock"
        scheme: "37.46.83.192"
dbal:
	connectionTz: auto-offset
	simpleStorageTz: "Europe/Prague"
	driver: mysqli
	host: localhost
	database: hivetrader-data
	username: root
	password: ''