extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

console:
    name: Console
    version: '1.0'
    lazy: false

services:
    consoleLogger: App\Model\Services\ConsoleLogger\ConsoleLoggerService
    # COMMANDS
    - App\Console\Suppliers\Collectors\Noviko\NovikoSupplierStockCollector
    - App\Console\Suppliers\Collectors\Noviko\NovikoSupplierProductsCollector