extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

console:
    name: Console
    version: '1.0'
    lazy: false

services:
    consoleLogger: App\Model\Services\ConsoleLogger\ConsoleLoggerService
    # **COMMANDS**
    # --Run test--
    - App\Console\TestCommand
    # --Deploy to FTP--
    - App\Console\DeployCommand
    # --Collectors--
    # Noviko
    - App\Console\Suppliers\Collectors\Noviko\NovikoSupplierStockCollector
    - App\Console\Suppliers\Collectors\Noviko\NovikoSupplierProductsCollector
    # --MOTHER TEMP--
    # Noviko
    - App\Console\Suppliers\MotherTemp\Noviko\NovikoSupplierStockChangesWorker